# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configs
.terraform.lock.hcl

# Sensitive
*.pem
*.key

# OS
.DS_Store


# Python
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/

# Environment files
.env
